<nav class="navbar">
    <div class="container">
        <div class="navbar-hamburger">
            <a href="#"></a>
        </div>
        <div class="navbar-logo">
            <a href="/">Logan&nbsp;Fitzgibbons</a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav navbar-nav--right">
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>