.navbar {
    margin: 0;
    padding: 0;
    background-color: @nav-bg;

    & > .container {
        display: flex;
    }

    &-logo {
        display: flex;
        align-items: flex-end;
        padding: 10px 0 18px;
        margin-right: 20px;

        a {
            font-size: 24px;
            color: @nav-link;
            text-decoration: none;
        }
    }

    @media screen and (max-width: @screen-md-max) {
        &-hamburger {
            display: flex;
            align-items: flex-end;

            a {
                position: relative;
                margin: 0 15px 24px 0;
                background: linear-gradient(@nav-burger, @nav-burger) no-repeat;
                background-size: 100% 2px;
                background-position: center;
                width: 22px;
                height: 16px;

                &:before,
                &:after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: @nav-burger;
                    position: absolute;
                    left: 0;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }
            }
        }
    }

    &-collapse {
        position: absolute;
        visibility: hidden;

        @media screen and (min-width: @screen-md) {
            position: relative;
            visibility: visible;
            flex: 1 1 0%;
        }
    }

    &-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1 1 100%;
        align-items: flex-end;

        li {
            display: flex;

            a {
                padding: 20px 10px;
                color: @nav-link;
                text-decoration: none;

                &:hover {
                    background: @nav-link-hover;
                }
            }
        }

        &--right {
            justify-content: flex-end;
        }
    }
}
